html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	background-image: url("assets/windows-bg.jpg");
	background-size: cover;
}

.bureautiqueFolder, .developmentFolder {
	background: transparent;
	border: none;
}

.bureautiqueFolder:hover, .developmentFolder:hover {
	background-color: rgb(182, 189, 196);
}

#bottombar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;

	background-color: rgba(0, 0, 0, 0.7);

	z-index:9999;

	display: flex;
	align-items: center;
	padding: 0 5px;
}

.windows-menu-button {
	background: transparent;
	border: none;
}

.windows-menu-button:hover {
	background-color: rgb(54, 81, 107);
}