body {
	width: 100%;
	height: 100%;
	background-image: url("assets/windows-bg.jpg");
	background-size: cover;
}

.bureautiqueFolder {
	background: transparent;
	border: none;
}

.bureautiqueFolder:hover{
	background-color: rgb(182, 189, 196);
}